ul.list_of_tables_in_db {
	list-style-type: none;
    margin: 0;
    padding: 0;
}
li.a_table_in_db{
	display: inline;
	margin-right: 1.5%;
	margin-left: 1.5%;
    color: black;
    font-weight: bolder;
}

table#admin_table{
	color:black;
	padding:10px;
}

td.admin_col_header{
	font-weight: bolder;
	font-size: 2em;
}

input.admin {
	width: 100px;
}

.deleteButton {
	background-color: #ED4337;
}

#admin_second_nav_title{
	position: relative;
	margin-top: -30px;
	font-size: 30px;
}

tr#row_for_spacing{
	height:20px;
}