body{
	/*background: darkgray;
	background-image:url('assets/sannicholas.jpg');
	background-repeat:no-repeat;
	background-size:100%;*/
	padding:0; margin:0;
	text-align:center;
	color:white;
	height:100%; /*sticky footer*/
	font-family: 'Open Sans Condensed', sans-serif;
}


html{
	background: url('../assets/sannicholas.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}


h1{
	color:white;
	text-shadow:0px 0px 6px rgba(68,68,68,0.6);
	text-align:center;
	padding-top:.5em;
}


h1 a,h1 a:visited{
	text-decoration:none;
	color:white;
}

h1:hover {
    text-shadow:0px 0px 6px rgba(68,68,68,.85);
}

h2{
	text-shadow:1px 1px 5px rgba(68,68,68,1);
	font-weight:lighter;
	margin-bottom:.2em;
}

header{
	width:100%;
	text-align:center;
	height:8em;
	background: rgba(189,215,224,.80);
}

header.large{
	/*background-color:lightblue;*/
	/*margin-top:-3em;*/
	/*background: rgba(169,195,204,1);*/
	position: static;
	z-index:-10;
}

header.small {
  position:fixed;
}


.nav1{
	color: white;
	text-align:center;
	margin-top:4em;
	float:left;
	width:44%;
	/*background-color:red;*/
	height:4em;
	font-size:20px;
	text-shadow:1px 1px 5px rgba(68,68,68,.6);
	
	position:relative;
}
	

.nav2{
	color: white;
	text-align:center;
	margin-top:4em;
	float:right;
	width:44%;
	/*background-color:red;*/
	height:4em;
	font-size:20px;
	text-shadow:1px 1px 5px rgba(68,68,68,.6);
	
	position:relative;
}

.nav span:hover, .nav2 span:hover{
	text-decoration:underline;
	cursor:pointer;
}

.left{
	width:50%;
	float:left;
	/*background-color: gray;*/
}

.right{
	width:50%;
	float:right;
	/*background-color:blue;*/
}


.circle {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	width: 12%;
	height: 0;
    padding: 6% 0;
	
	background-color:white;
	/*box-shadow:1px 1px 4px gray;*/
	margin-left:auto;
	margin-right:auto;
	margin-top:-4.5em;
	z-index:10;
}

.logo{
	height:
	width:
}

/* code from http://stackoverflow.com/questions/14293719/responsive-css-circles-that-can-hold-centered-
*/
.mycontent {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.mycontent:before {
  content: '';
  vertical-align: middle;
  display: inline-block;
  width: 0;
  height: 100%;
}


/*
.mycontent img {
  vertical-align: middle;
  display: inline-block;
  margin-top:-30%;
  margin-left:-3%;
  height:100px;
  width:100px;
}

*/

#logo{
	width:70%;
	margin-top:-35%;
	margin-left:-3%;
}

/*
height:100px;
  width:100px;
  */


.link{
text-transform:uppercase;
}

.padding{
height:6em;
}

.content{
width:100;
height:24em;
background-color:rgba(169,195,204,0.70);
padding-top:3em;
}

.wrappedCont{
	width:100%
}

/*sticky footer code */

* {
	margin: 0;
}
html{
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
	
}
.footer, .push {
	height: 155px; /* .push must be the same height as .footer */
	background-color:black;
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/

.footCont{
	padding:4em;
}

/*user input stuff*/
.txtbox{
	border: 2px solid #dcdcdc;
    border-radius: 2px;
	/*height:3em;*/
	width:30%;
	margin-top:.5em;
	margin-bottom:.5em;
	padding:.35em;
	font-size:2em;
	font-family: 'Open Sans Condensed', sans-serif;

}

.txtbox:focus { 
    outline: none;
    border-color: lightgray;
    box-shadow: 0 0 7px lightgray;
}

/*login stuff*/
.logbox{
	border: 2px solid #dcdcdc;
    border-radius: 2px;
	/*height:3em;*/
	width:24%;
	margin-top:.5em;
	margin-bottom:.5em;
	padding:.35em;
	font-size:1.5em;
	font-family: 'Open Sans Condensed', sans-serif;
}

.logbox:focus { 
    outline: none;
    border-color: lightgray;
    box-shadow: 0 0 7px lightgray;
}

.arrowMessage{
	float:right;
	padding-right:5%;
	color:white;
	font-style:bold;
	text-align:center;
	margin-top:1em;
	padding-bottom:1em;
	text-shadow:0px 0px 3px white;
	font-size:1.1em;
	height:1.1em;
}

#arrowL{
	float:left;
	padding-left:5%;
	clear:left;
}

#arrowR{
	float:right;
	padding-right:5%;
	clear:right;
}

.loginButton{
	background-color:rgba(68,68,68,0.3);
	color:white;
	text-shadow:0 0 4 gray;
	font-size:1em;
	margin-top:1.3em;
	padding:0.7em;
	border-style:none;
	padding-left:1.1em;
	padding-right:1.1em;

}

.loginButton:hover{
	cursor:pointer;
}

.shadowed:hover {
    -webkit-filter: drop-shadow(0px 0px 12px rgba(256,256,256,0.9));
    filter: url("data:image/svg+xml;utf8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='drop-shadow'><feGaussianBlur in='SourceAlpha' stdDeviation='4'/><feOffset dx='0' dy='0' result='offsetblur'/><feFlood flood-color='rgba(256,256,256,0.9)'/><feComposite in2='offsetblur' operator='in'/><feMerge><feMergeNode/><feMergeNode in='SourceGraphic'/></feMerge></filter></svg>#drop-shadow");
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#FFF')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#FFF')";
	cursor:pointer;
	/*source: http://stackoverflow.com/questions/3186688/drop-shadow-for-png-image-in-css*/
}


.footCont a{
	color:white;
}
