body{
	/*background: darkgray;
	background-image:url('assets/sannicholas.jpg');
	background-repeat:no-repeat;
	background-size:100%;*/
	padding:0; margin:0;
	text-align:center;
	color:white;
	height:100%; /*sticky footer*/
	font-family: 'Open Sans Condensed', sans-serif;
}


html{
	background-image:url('../assets/sannicholas.jpg');
    background-position:top;
    background-repeat:repeat;
    background-attachment:fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.left{
		width:50%;
		float:left;
		/*background-color: gray;*/
		font-family:'Noto Serif', sans-serif;
		font-size:.75em;
}

.right{
		width:50%;
		float:right;
		/*background-color:blue;*/
		font-family:'Noto Serif', sans-serif;
		font-size:.75em;
}

.nav1 span:hover, .nav2 span:hover{
	text-decoration:underline;
	cursor:pointer;
}

.nav1 a, .nav2 a{
	color:white;
	text-decoration:none;
}

 /* SOME RESULTS PAGE STUFF IS HERE!! */
/*two column plus picture layout*/
.columns{
	width:20%;
	float:left;
	display:inline-block;
	padding-right:40px;
	padding-top:15px;
	font-size: 1.2em;
	text-align: justify;
    text-justify: inter-word;
    text-shadow:0px 0px 6px rgba(43,43,43,0.8);
}

.circularPlantPic{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	margin-top: 13px;
	text-align: center;
	border:8px solid white;
	box-shadow: 0 4 10px rgba(0, 0, 0, .7);
	-webkit-box-shadow: 0 4 10px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 4 10px rgba(0, 0, 0, .7);
	/*background-image: url('assets/aguaClaraPlant.jpg');
	background-repeat: no-repeat;*/
}

.explanatoryText{
	margin-left:25%;
	margin-right:25%;
	font-size: 1.2em;
	text-shadow:0px 0px 6px rgba(43,43,43,0.8);
}


.fourColumnLayout{
	margin-left: 10%;
	margin-right: 10%;
}

.fourColumns{
	width:22%;
	float:left;
	display:inline-block;
	padding-right:3%;
	text-align: justify;
	text-shadow:0px 0px 6px rgba(43,43,43,0.8);

}

.boxShapedText{
	padding:7px;
	text-shadow:0px 0px 6px rgba(43,43,43,0.8);
	border: 3px solid white;
	font-size: 1.4em;
	width:90%;
	text-align: center;
	margin:0 auto;
	margin-top: 30px;
	margin-bottom: 10px;
}

.littleBox{
	font-size: .7em;
	font-style: italic;
	display:block;
}

.threeRows{
	/* TO DO */
}

/* end the results page stuff here */

h1{
	color:white;
	text-shadow:0px 0px 6px rgba(43,43,43,0.8);
	text-align:center;
	padding-top:.9em;
	font-family:'Playball', sans-serif;
	font-weight:lighter;	
	/*i like playball font-size:1.55em;*/
	font-size:2em;
	
}


h1 a,h1 a:visited{
	text-decoration:none;
	color:white;
}

h1 a:hover {
    text-shadow:0px 0px 6px 3px rgba(43,43,43,0.9);
}

h2{
	text-shadow:1px 1px 5px rgba(43,43,43,0.8);
	font-weight:lighter;
	margin-bottom:.2em;
}

header{
	width:100%;
	text-align:center;
	height:10em;
	background: rgba(189,215,224,.80);
}

header.large{
	/*background-color:lightblue;*/
	/*margin-top:-3em;*/
	/*background: rgba(169,195,204,1);*/
	position: static;
	z-index:-10;
}

header.small {
  position:fixed;
}


.left{
	width:50%;
	float:left;
	/*background-color: gray;*/
}

.right{
	width:50%;
	float:right;
	/*background-color:blue;*/
}





.link{
	text-transform:uppercase;
}

.padding{
	height:7em;
}

.content{
	width:100;
	height:22em;
	background-color:rgba(169,195,204,0.70);
	padding-top:3em;
	position: relative;
}

.wrappedCont{
	width:100%
}

/*sticky footer code */

* {
	margin: 0;
}
html{
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
	
}
.footer, .push {
	height: 155px; /* .push must be the same height as .footer */
	background-color:black;
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/

.footCont{
	padding:3em;
}

.footCont a{
	color:white;
}

/*user input stuff*/
.txtbox{
	border: 2px solid #dcdcdc;
    border-radius: 2px;
	/*height:3em;*/
	width:30%;
	margin-top:.5em;
	margin-bottom:.5em;
	padding:.35em;
	font-size:2em;
	font-family: 'Open Sans Condensed', sans-serif;
}

.txtbox:focus { 
    outline: none;
    border-color: lightgray;
    box-shadow: 0 0 7px lightgray;
}

/*login stuff*/
.logbox{
	border: 2px solid #dcdcdc;
    border-radius: 2px;
	/*height:3em;*/
	width:24%;
	margin-top:.5em;
	margin-bottom:.5em;
	padding:.35em;
	font-size:1.5em;
	font-family: 'Open Sans Condensed', sans-serif;
}

.logbox:focus { 
    outline: none;
    border-color: lightgray;
    box-shadow: 0 0 7px lightgray;
}

.arrowMessage{
	float:right;
	font-family:'Playball', sans-serif;
	padding-right:3%;
	color:white;
	font-style:bold;
	text-align:center;
	margin-top:-1em;
	padding-bottom:1em;
	text-shadow:0px 0px 2px white;
	font-size:1.4em;
	height:1.1em;
}

#left0,#left1,#left2,#left3,#left4,#left5,#left6,#left7,#left8,#left9{
	float:left;
	padding-left:5%;
	clear:left;
	display:inline;
}

#right0,#right1,#right2,#right3,#right4,#right5,#right6,#right7,#right8,#right9{
	float:right;
	padding-right:5%;
	clear:right;
	display:inline;
}

.arrowlink {
	/*display:inline-block;*/
}

.arrow{
	position: absolute;
	bottom:30px;
}

.tripleArrowRight{
	font-weight: bold;
    color: #000000;
    text-indent: -99999px;
    text-align: center;
    background-color: Transparent;
    background-image: url('../assets/arrowright.png');
	background-size: 80px 50px;
    background-repeat: no-repeat;
	font-size: 0;   
	display: block; 
	line-height: 0;
    cursor: pointer;
	border:none;
	width:148px;
	height:60px;
	right:0px;
}
.tripleArrowLeft{
	float:left;
	padding-left:5%;
	clear:left;
	display:inline;
	font-weight: bold;
    color: #000000;
    text-indent: -99999px;
    text-align: center;
    background-color: Transparent;
    background-position: right 0px;
    background-image: url('../assets/arrowleft.png');
	background-size: 80px 50px;
    background-repeat: no-repeat;
	font-size: 0;   
	display: block; 
	line-height: 0;
    cursor: pointer;
	border:none;
	width:148px;
	height:60px;
	left:0px;
}

table{
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
}

/**CHECKBOXES GO HERE from http://cssdeck.com/labs/css-checkbox-styles*/
/* SQUARED TWO */
.squaredTwo {
	width: 28px;
	height: 28px;
	/*background: #fcfff4;*/
	display:inline-block;
	background: white;
	/*background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);*/
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	margin: 10px auto;

	/*-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);*/
	position: relative;
}

.squaredTwo label{
	cursor: pointer;
	position: absolute;
	width: 24px;
	height: 24px;
	left: 2px;
	top: 2px;

	-webkit-box-shadow: inset 0px 0px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 0px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 0px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: rgba(169,195,204,1);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredTwo label:after{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 7px;
	left: 7px;
	border: 2px solid #fcfff4;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.squaredTwo input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

/*end checkboxes*/


/**table*/
td{
	width:360px;
} 

.check{
	width:40px;
}

.pl{
	font-size:1.5em;
	text-shadow:0px 0px 3px rgba(43,43,43,0.9);
}
/* end table */

a{
	color:white;
}

a:visited{
	color:white;
}

.arrow:hover {
    -webkit-filter: drop-shadow(0px 0px 12px rgba(256,256,256,0.9));
    filter: url("data:image/svg+xml;utf8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='drop-shadow'><feGaussianBlur in='SourceAlpha' stdDeviation='4'/><feOffset dx='0' dy='0' result='offsetblur'/><feFlood flood-color='rgba(256,256,256,0.9)'/><feComposite in2='offsetblur' operator='in'/><feMerge><feMergeNode/><feMergeNode in='SourceGraphic'/></feMerge></filter></svg>#drop-shadow");
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#FFF')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#FFF')";
	cursor:pointer;
	/*source: http://stackoverflow.com/questions/3186688/drop-shadow-for-png-image-in-css*/
}

/*page 6 stuff*/
.icon{
	width:140px;
	-webkit-filter: drop-shadow(0px 0px 12px rgba(43,43,43,0.8));
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
    filter: url("data:image/svg+xml;utf8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='drop-shadow'><feGaussianBlur in='SourceAlpha' stdDeviation='4'/><feOffset dx='0' dy='0' result='offsetblur'/><feFlood flood-color='rgba(68,68,68,.6)'/><feComposite in2='offsetblur' operator='in'/><feMerge><feMergeNode/><feMergeNode in='SourceGraphic'/></feMerge></filter></svg>#drop-shadow");
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
}

.workerInput{
	padding:7px;
	margin-top:10px;
	margin-left:27px;
	margin-right:27px;
	height:1.5em;
	font-size:1.2em;
	text-align:center;
	width:6.8em;
}

.workerInput:focus{
	outline: none;
    border-color: lightgray;
    box-shadow: 0 0 7px lightgray;
}


.loginButton{
	background-color:rgba(43,43,43,0.3);
	color:white;
	text-shadow:0 0 4 gray;
	font-size:1em;
	margin-top:1.3em;
	padding:0.7em;
	border-style:none;
	padding-left:1.1em;
	padding-right:1.1em;

}

.loginButton:hover{
	cursor:pointer;
}


.countrydrop{
	border: 2px solid #dcdcdc;
    border-radius: 2px;
	width:32%;
	margin-top:.5em;
	margin-bottom:.5em;
	padding:.35em;
	font-size:2em;
	font-family: 'Open Sans Condensed', sans-serif;
}


.dramaticSpan{
	font-size:1.35em;
	font-style:bold;
	margin-right:5px;
}


/*SLIDER*/
#population{
	width:35%;
	height:10%;
	padding-top:3em;
	padding-bottom:3em;
}

input[type='range'] {
	-webkit-appearance: none;
	background:rgba(189, 215, 224, 0.0);
	height: 30px;
	width:7px;
	vertical-align: middle;
	font-weight: bold;
}

/*seems to do nothing for firefox*/
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	background-color: #FFF;
	height: 30px;
	width: 60px;
	border-radius:0;
	border-style:none;
	position:relative;
	top:-15px;
	box-shadow:0px 0px 4px grey;
}

/*seems to do nothing for safari*/
input[type='range']::-moz-range-thumb {
	/*-moz-appearance: none;*/
	background-color: #FFF;
	height: 30px;
	width: 60px;
	color:white;
	border-style:none;
	border-radius:0;
}

input[type='range']::-webkit-slider-runnable-track{
	background:white;
	height:2px;
	border: none;
    border-radius: 3px;
	border-style:none;
	border-color:white;
	/*box-shadow:0px 2px 2px grey;*/
}

input[type='range']::-moz-range-track{
	background:white;
	height:2px;
	border: none;
    border-radius: 3px;
	border-style:none;
	border-color:white;
	box-shadow:0px 0px 4px grey;
}

input[type='range']:focus {
	outline:none;
}

.savePageUpdate:focus {
	outline:none;
}

.arrow:focus{ /*no blue boxes */
	outline: none;
}

#pop{
	font-size:2.5em;
	font-weight:bold;
	text-shadow: 0px 0px 4px grey;
}

.rangelab{
	padding:1.3em;
	font-size:1.2em;
	text-shadow: 0px 0px 2px grey;
	font-weight: bold;
}
/* end slider css */



/**Make a cool "polaroid" effect to display my pictures*/
.polaroid, .polaroid2 {
	position: relative;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:25px;
	margin-top:20px;
	width: 120px;
	height: 120px;
	white-space: nowrap;
	overflow:hidden;
	border: 10px solid white;
	box-shadow: 1px 1px 5px gray;
	background-color:white;
	text-align:left;
	display:inline-block;
}

.polaroidright, .polaroidright2{
	position: relative;
	margin-left:25px;
	margin-bottom:25px;
	margin-top:20px;
	width: 120px;
	height: 120px;
	white-space: nowrap;
	overflow:hidden;
	border: 10px solid white;
	box-shadow: 1px 1px 5px gray;
	background-color:white;
	text-align:left;
	display:inline-block;
}

/* Make sure the polaroids can handle vertical (portrait) photos */
.verticalhelper{
	width:120px;
	height:120px;
	background-color:gray;
	text-align:center;
}
 
.polaroid img, .polaroidright img {
	display: inline-block;
	width:auto;
	height:120px;
}

.polaroid2 img, .polaroidright2 img {
	display: inline-block;
	width:auto;
	height:120px;
}

.one-pic{
margin:0 auto;
text-align: center;
}

.fullpic{
	border: 10px solid white;
	box-shadow: 1px 1px 5px gray;	
	margin:auto;
	max-width:90%;
}
 
.polaroidp {
	position: absolute;
	text-align: center;
	width: 120px;
	font-size:small;
	bottom: 5px;
	color: white;
	opacity: 0;
	text-shadow: 0px 0px 4px black;
	display: inline-block; 
	padding-bottom:42px;
  	position: absolute;
  	right: 50px;
  	z-index: 1;
}
  
.polaroid:hover .polaroidp, .polaroidright:hover .polaroidp{
  opacity:1.0;
}

.polaroid:hover, .polaroidright:hover {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  position: relative;
  cursor:pointer;
}

.polaroid2:hover .polaroidp, .polaroidright2:hover .polaroidp{
  opacity:1.0;
}

.polaroid2:hover, .polaroidright2:hover {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  position: relative;
  cursor:pointer;
}

/**hide the checkboxes that are labeled with the images*/
input.hiddenCheckbox {
	display:none;
}
/**end picture frame css*/

.change{
	text-decoration: underline;
}

.change:hover{
	cursor:pointer;
}


.editpolaroid {
	position: relative;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	margin-top:15px;
	width: 80px;
	height: 80px;
	white-space: nowrap;
	overflow:hidden;
	border: 8px solid white;
	box-shadow: 1px 1px 5px gray;
	background-color:white;
	text-align:left;
	display:inline-block;
}

.editpolaroidright, .editpolarioidright2{
	position: relative;
	margin-left:18px;
	margin-bottom:20px;
	margin-top:15px;
	width: 80px;
	height: 80px;
	white-space: nowrap;
	overflow:hidden;
	border: 8px solid white;
	box-shadow: 1px 1px 5px gray;
	background-color:white;
	text-align:left;
	display:inline-block;
}

/* Make sure the polaroids can handle vertical (portrait) photos */
.editverticalhelper{
	width:80px;
	height:80px;
	background-color:gray;
	text-align:center;
}

.editpolaroidp {
	position: absolute;
	text-align: center;
	left:3px;
	width: 80px;
	font-size:small;
	bottom: 5px;
	color: white;
	opacity: 0;
	text-shadow: 0px 0px 4px black;
	display: inline-block; 
	padding-bottom:28px;
}
.editpolaroid img, .editpolaroidright img {
	display: inline-block;
	width:auto;
	height:80px;
}


input#savePageUpdate{
	/*background-color: Transparent;*/
	border:none;
	cursor:pointer;
	color:white;
	font-family:'Open Sans Condensed', sans-serif;
}

@media all and (min-width: 1001px) {
	.nav1{
		color: white;
		text-align:center;
		margin-top:4em;
		float:left;
		width:44%;
		height:4em;
		font-size:1.25em;
		text-shadow:1px 1px 5px rgba(43,43,43,0.8);
		position:relative;
	}	

	.nav2{
		color: white;
		text-align:center;
		margin-top:4em;
		float:right;
		width:44%;
		height:4em;
		font-size:1.25em;
		text-shadow:1px 1px 5px rgba(43,43,43,0.8);
		position:relative;
	}
	
	.circle {
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		width: 12%;
		height: 0;
		padding: 6% 0;
		
		background-color:white;
		/*box-shadow:1px 1px 4px gray;*/
		margin-left:auto;
		margin-right:auto;
		margin-top:-4.5em;
		z-index:10;
	}

	/* code from http://stackoverflow.com/questions/14293719/
	           responsive-css-circles-that-can-hold-centered-
	*/
	.mycontent {
	  position: relative;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  text-align: center;
	}
	.mycontent:before {
	  content: '';
	  vertical-align: middle;
	  display: inline-block;
	  width: 0;
	  height: 100%;
	}

	#logo{
		width:70%;
		margin-top:-35%;
		margin-left:-3%;
	}
	/*for the NTU images*/
	div.polaroidp {
	width: 20%;
	}

}

@media all and (max-width: 1000px) and (min-width: 700px){
	.nav1{
		color: white;
		text-align:center;
		margin-top:5.2em;
		float:left;
		width:44%;
		height:4em;
		font-size:20px;
		text-shadow:1px 1px 5px rgba(43,43,43,0.8);
		position:relative;
		font-size:1em;
	}

	.nav2{
		color: white;
		text-align:center;
		margin-top:5.2em;
		float:right;
		width:44%;
		height:4em;
		font-size:20px;
		text-shadow:1px 1px 5px rgba(43,43,43,0.8);
		position:relative;
		font-size:1em;
	}
	
		
	.circle {
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		width: 12%;
		height: 0;
		padding: 6% 0;
		
		background-color:white;
		/*box-shadow:1px 1px 4px gray;*/
		margin-left:auto;
		margin-right:auto;
		margin-top:-4.5em;
		z-index:10;
	}

	/* code from http://stackoverflow.com/questions/14293719/
	           responsive-css-circles-that-can-hold-centered-
	*/
	.mycontent {
	  position: relative;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  text-align: center;
	}
	.mycontent:before {
	  content: '';
	  vertical-align: middle;
	  display: inline-block;
	  width: 0;
	  height: 100%;
	}

	#logo{
		width:70%;
		margin-top:-35%;
		margin-left:-3%;
	}
	
	.txtbox{
		border: 2px solid #dcdcdc;
		border-radius: 2px;
		width:40%;
		margin-top:.5em;
		margin-bottom:.5em;
		padding:.35em;
		font-size:2em;
		font-family: 'Open Sans Condensed', sans-serif;
	}
	
	h1{
		color:white;
		text-shadow:0px 0px 6px 3px rgba(43,43,43,0.8);
		text-align:center;
		margin-top:1%;
		font-size:1.75em;
	}
	
	.countrydrop{
		border: 2px solid #dcdcdc;
		border-radius: 2px;
		width:43%;
		margin-top:.5em;
		margin-bottom:.5em;
		padding:.35em;
		font-size:2em;
		font-family: 'Open Sans Condensed', sans-serif;
	}
	
		
	.polaroid {
		position: relative;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:20px;
		margin-top:15px;
		width: 80px;
		height: 80px;
		white-space: nowrap;
		overflow:hidden;
		border: 8px solid white;
		box-shadow: 1px 1px 5px gray;
		background-color:white;
		text-align:left;
		display:inline-block;
	}

	.polaroidright, .polarioidright2{
		position: relative;
		margin-left:18px;
		margin-bottom:20px;
		margin-top:15px;
		width: 80px;
		height: 80px;
		white-space: nowrap;
		overflow:hidden;
		border: 8px solid white;
		box-shadow: 1px 1px 5px gray;
		background-color:white;
		text-align:left;
		display:inline-block;
	}

	/* Make sure the polaroids can handle vertical (portrait) photos */
	.verticalhelper{
		width:80px;
		height:80px;
		background-color:gray;
		text-align:center;
	}
	
	.polaroidp {
		position: absolute;
		text-align: center;
		left:3px;
		width: 80px;
		font-size:small;
		bottom: 5px;
		color: white;
		opacity: 0;
		text-shadow: 0px 0px 4px black;
		display: inline-block; 
		padding-bottom:28px;
	}
	.polaroid img, .polaroidright img {
		display: inline-block;
		width:auto;
		height:80px;
	}
	
	html{
		background-image:url('../assets/sannicholas1.jpg');
		background-position:top;
		background-repeat:repeat;
		background-attachment:fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

}

@media all and (max-width: 699px){
	.nav1{
		color: white;
		text-align:center;
		margin-top:5.3em;
		float:left;
		width:50%;
		height:4em;
		font-size:20px;
		text-shadow:1px 1px 5px rgba(43,43,43,0.8);
		position:relative;
		font-size:.9em;
	}

	.nav2{
		color: white;
		text-align:center;
		margin-top:5.3em;
		float:right;
		width:50%;
		height:4em;
		font-size:20px;
		text-shadow:1px 1px 5px rgba(43,43,43,0.8);
		position:relative;
		font-size:.9em;
	}

	.mycontent, #logo{
		width:0px;
		height:0px;
	}
	
	h1{
		color:white;
		text-shadow:0px 0px 6px rgba(43,43,43,0.8);
		text-align:center;
		margin-top:5%;
		font-size:1.5em;
	}
	
	.footCont{
		padding:2em;
		font-size:.8em;
	}
	
	.txtbox{
		border: 2px solid #dcdcdc;
		border-radius: 2px;
		width:50%;
		margin-top:.5em;
		margin-bottom:.5em;
		padding:.35em;
		font-size:2em;
		font-family: 'Open Sans Condensed', sans-serif;
	}
	
	.countrydrop{
		border: 2px solid #dcdcdc;
		border-radius: 2px;
		width:54%;
		margin-top:.5em;
		margin-bottom:.5em;
		padding:.35em;
		font-size:2em;
		font-family: 'Open Sans Condensed', sans-serif;
	}
	
	.dramaticSpan{
		font-size:1.2em;
		font-style:bold;
		margin-right:5px;
	}

	.icon{
		width: 100px;
	}
	
	html{
		background-image:url('../assets/sannicholas2.jpg');
		background-position:top;
		background-repeat:repeat;
		background-attachment:fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
/*page 6 stuff*/
.workerInput{
	width:30%;
}



}
